body {
    font-family: 'Gabarito', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

.language-switch {
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 900;
    position: absolute;
    top: 10%;
    right: 18%;
}

.language-switch:link {
    color: black;
}

.language-switch:visited {
    color: black;
}

.selected-language {
    text-decoration: underline;
}


#logo {
    width: 25%;
    margin: 50px auto;
    display: block;
}

#first-block {
    background-image: url(./images/blob1.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: -700px 150px;
}

#second-block {
    background-image: url(./images/blob2.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: top 0px right -400px;

}


#third-block {
    background-image: url(./images/blob3.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top 0 left -250px;

}

#fourth-block {
    background-image: url(./images/blob4.png);
    background-repeat: no-repeat;
    background-position: center top 80px;
    background-size: auto 70%;
}

#title-block {
    display: flex;
    align-items: center;
}


#title {
    margin-left: 15%;
    font-size: 3rem;
}
#title-mobile {
    display: none;
}


#main-photo {
    width: 30%;
    margin: 0 auto;
  }
  
  
.about-description {
    width: 70%;
    margin: 2% auto;
    font-weight: 400;
    font-size: 1.2rem;
}

.block-name {
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    margin: 8% 0 5%;

}

#cleaning {
    display: flex;
    align-items: center;
}

.p-description {
    font-weight: 400;
    font-size: 1.2rem;
}

#cleaning-description {
    margin-left: 15%;
    width: 40%;
}


#cleaning-img {
    margin-left: 5%;
}

#organizing {
    display: flex;
    align-items: center;
}

#organizing-description {
    margin-left: 15%;
    width: 40%;
}

#organizing-img {
    margin-left: 15%;
}

#pet {
    display: flex;
    align-items: center;
}

#pet-description {
    margin-left: 15%;
    width: 40%;
}

#pet-img {
    margin-left: 5%;
    width: 25%;
}

#prices {
    display: flex;
    flex-direction: column;
    align-items: center
}

.p-price {
    font-weight: 500;
    font-size: 1.2rem;
}

h3 {
    text-align: center;
    font-weight: 900;
    font-size: 1.8rem;
}

.contact-img {
    display: block;
    margin: auto;
    width: 3%;

}

footer {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 8%;
    margin-bottom: 5%;
}

.link {
    margin: auto;
    text-align: center;
    display: block;
    font-weight: 900;
    font-size: 1.8rem;
    margin-block-start: 1em;
    margin-block-end: 1em;

}

.link:link {
    color: black;
}

.link:visited {
    color: black;
}

#prices-mobile {
    display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   
#logo {
    width: 50%;
} 
.language-switch{
position: static;
display: block;
text-align: center;
}



#title{
display: none;
}

#title-mobile {
display: block;
margin-left: 15%;
font-size: 2.5rem;
text-align: center;
margin-left: 0;
}
.about-description {
    margin-left: 8%;
}

#title-block {
    display: block;
    margin-top: 20%;
}


#main-photo {
    width: 80%;
    margin: 0 auto;
    display: block;
    align-content: center;
  }
  .block-name {
    margin: 15% 0 5%;
    font-size: 1.8rem;
text-align: center;
}

#cleaning {
    display: block;
}


#cleaning-description {
    margin-left: 8%;
    width: 80%;
}

#cleaning-img {
   width: 50%;
   display: block;
   margin: 10% auto;
}

#organizing {
    display: block;
}

#organizing-img {
    width: 45%;
    display: block;
    margin: 10% auto;
 
 }

 #organizing-description {
    margin-left: 5%;
    width: 80%;
}
#pet {
    display: block;
}

#pet-img {
    width: 60%;
    display: block;
    margin: 0 auto;
 
 }

 #pet-description {
    margin-left: 5%;
    width: 80%;
}

#prices {
    display: none;
}

#prices-mobile {
    display: block;
}

.p-price {
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

.p-price-p{
    text-align: center;
    margin-top: 5px;
}

.contact-img{
    width: 8%;
}
.link{
    font-size: 1.5rem;
}

h3{
    font-size: 1.5rem;
}

footer {
    font-size: 1rem;
}


#second-block {
    background-image: url(./images/blob2.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: top 320px right -250px;

}

#third-block {
    background-image: none;


}

#fourth-block {
    background-position: center top 40px;
    background-size: auto 80%;
}

}

